
{{# if alerta}}
    <div class="alert alert-danger" role="alert">
      Ainda não existem pessoas cadastradas! 

    </div>
{{ else }}


<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Data nascimento</th>
      <th scope="col">Telefone</th>
     <th scope="col">CEP</th>
    </tr>
  </thead>
  <tbody>
    {{# each pessoas}} <!--- PARA CADA PESSOA -->
    <tr>
      <td>{{upperCase this.nome}}</td>
      <td>{{formatarData this.data_nascimento}}</td>
      <td>{{this.telefone}}</td>
      <td>{{this.cep}}</td>
    </tr>
    {{/ each}}
  </tbody>
</table>

{{/ if }}